
.box{
  text-align: center;
  background-color: gray;
  height: 500px;
}
.dayLight{
  background-color: yellow;
}
.header{
  color: tomato;
  text-transform: uppercase;
  text-shadow: 1px 1px white;
  padding-top: 80px;
}
.title{
  color: tomato;
  text-transform: uppercase;
  text-shadow: 1px 1px white;
}

button{
  width: 200px;
  height: 50px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  background-color: rgb(255, 91, 62);
  border-radius: 20px 20px;
  margin: 10px;
  box-shadow: 4px 4px 4px rgb(243, 146, 129);
  transition: .5s;
  border: none;
}
button:hover{
  color: tomato;
  background-color: white;
}